@using Ast.Models
@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var articleList = ViewBag.articleList as IList<Hc_ArticleList>;
}
<div class="layui-fluid layui-anim layui-anim-upbit">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form-query layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input type="text" id="query" class="layui-input query" />
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" type="button" onclick="init()"><i class="layui-icon">&#xe615;</i>查询</button>
                        @*<button class="layui-btn" topTitle="新增职位" onclick="openDialog(0,'新增职位')" style="background:#333">
                                <i class="layui-icon">&#xe654;</i>新增
                            </button>*@
                        @*<button class="layui-btn layui-btn-danger" onclick="batchDel()">
                                <i class="layui-icon">&#xe640;</i>删除
                            </button>*@
                    </div>
                </div>
                <div class="layui-form-item">
                    <table id="datagrid" lay-filter="datagrid" lay-size="sm"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section js{
    @*工具栏模版*@
    <script type="text/html" id="bar">
        @*<a class="layui-btn layui-btn-xs" title="详情" onclick="openDetail({{ d.Id }},'详情')">详情</a>*@
        <a class="layui-btn layui-btn-xs layui-btn-normal" title="编辑" onclick="openDialog({{ d.Id }},'编辑')">编辑</a>
        @*<a class="layui-btn layui-btn-xs layui-btn-danger" title="删除" onclick="del({{ d.Id }})">删除</a>*@
    </script>
    @*执行状态模板*@
    <script type="text/html" id="schooltpl">
        {{# var status=d.School }}
        {{# if (status==1){ }}
        <span class="layui-badge layui-bg-blue" style="font-size:13px">集美小学</span>
        {{# } else{ }}
        <span class="layui-badge" style="font-size:13px">2小学</span>
        {{# } }}
    </script>

    <script type="text/html" id="nametpl">
        <a class="layui-badge layui-bg-cyan" style="cursor:pointer">{{ d.Name }}</a>
    </script>

    <script type="text/javascript">
        $(function () {
            init();
        });

        function init() {
            var query = $("#query").val();
            var url = "query=" + query;
            var cols = [[
                { fixed: 'left', checkbox: true, LAY_CHECKED: false }
                , { fixed: 'left', title: '操作', templet: "#bar", width: 120 }
                , { field: 'Id', title: 'ID', sort: true }
                , { field: 'Name', title: '名称', }
                , { field: 'EnName', title: '英文名称', }
                , { field: 'Url', title: 'URL', }
                , { field: 'Img', title: '主图', }
                , { field: 'ThemeName', title: '主题', }
                , { field: 'EnThemeName', title: '英文主题', }
                , { field: 'Memo', title: '说明', }
            ]];
            adder.loadlist({ url: "/Admin/GetWebMenu?" + url, cols: cols });
        }

        //打开窗口
        function openDialog(id, title) {
            var dialog = {
                title: title, // 窗口名称
                area: ["60%", "60%"],
                url: "/Admin/InfoWebMenu?id=" + id
            }
            adder.dialog(dialog);
        }
        //批量删除
        function batchDel() {
            var data = { url: "/Admin/DelWebMenu" };
            adder.batchDel(data);
        }
        //删除
        function del(id) {
            var data = { url: "/Admin/DelWebMenu?Id=" + id };
            adder.del(data);
        }
    </script>
}

