@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebLayout_dark.cshtml";
}
<body>
    <div class="news-head" id="particles">
        <div class="container">
            <h1>新闻 · NEWS</h1>
        </div>
    </div>
    <div class="news-body">
        <div class="container">
            <h2 class="news-title" style="margin: 5px 0 15px;">13个网站设计前要搞清楚的问题</h2>
            <div class="news-info">
                <span></span>
                <span>2018-08-22</span>
                <span>建站知识</span>
                <span><i class=""></i> 100</span>
                <span><i class=""></i> 分享</span>
            </div>
            <div class="news-body">
                <p style="text-align: left; text-indent: 2em;">网站设计是网站建设过程中一个重要的环节，设计质量的高低往往会影响到网站整体的效果。专业的网站设计往往会考虑更多的问题，尤其是当你在确定网站风格是否符合客户的要求时，一个小小的失误可能会让网站设计变得异常艰难。不过，在网站设计开始之前做好充分“功课”一定会对网站设计有所帮助。如果你现在还是不知道怎样做好准备功课，别担心，今天我们为你整理了网站设计前要搞清楚的十三个问题！</p><p style="text-align: center; text-indent: 0em;"><img src="static/picture/1533544235265088328.jpg" title="1533544235265088328.jpg" alt="1.jpg" /></p><p style="text-align: left; text-indent: 2em;">1、搞清楚所开展的主要业务有哪些？</p><p style="text-align: left; text-indent: 2em;">没搞清楚客户所做的业务就进行网站设计，往往会导致客户所做的业务与设计者认为客户所做的业务之间的脱节。这真的是一个很严重的问题。除了在设计前做一些调查之外，你还可以直接询问客户的业务情况。找出他们具体的业务方向，你可能会惊讶地发现，许多客户做的业务与你想象的打不相同。</p><p style="text-align: left; text-indent: 2em;">2、了解网站的受众群体有哪些？</p><p style="text-align: left; text-indent: 2em;">无论是什么样的网站，都应该有一个目标受众。你需要弄清楚他们是谁。当你了解受众群体以后，通过创造一个角色来帮助塑造设计元素，从类型大小到颜色到图像。了解用户和受众，将有助于你设计更实用、更有针对性的网站。</p><p style="text-align: left; text-indent: 2em;">3、人们在你的网站上能做什么？</p><p style="text-align: left; text-indent: 2em;">大多数客户做网站都是有目的的，不是钱多没事干做着玩。常见的目的包括点击链接来学习或获取信息、购买产品或服务、填写一张表格、玩游戏、点击链接查看内容(产成广告收入)、为某个事件进行注册、下载一款软件或应用、通过电子邮件或社交媒体分享一些东西等等。</p><p style="text-align: left; text-indent: 2em;">4、了解可以是否已经具有一个网站</p><p style="text-align: left; text-indent: 2em;">这个问题看似简单，直接问客户目前有网站吗？网址是什么？其实这儿可能会存在一个问题，就是客户本身是有网站的，但是域名本身并不能独立，严重的是客户很可能不了解自己是否拥有网站的所有权。</p><p style="text-align: center; text-indent: 0em;"><img src="static/picture/1533544251350065431.jpg" title="1533544251350065431.jpg" alt="2.jpg" /></p><p style="text-align: left; text-indent: 2em;">5、客户可能讨厌/喜欢的元素有哪些？</p><p style="text-align: left; text-indent: 2em;">拿出笔和纸，把它分成两列，让客户列出他们喜欢和讨厌当前或在接下来新网页设计中的内容。这个习惯可以帮助你规划新的设计内容，并找出你将要使用(或放弃)的特征或视觉元素。</p><p style="text-align: left; text-indent: 2em;">6、客户公司是否具备其他同行所没有的特质？</p><p style="text-align: left; text-indent: 2em;">通过上边的问题，虽然我们了解了客户所从事的业务，以及客户对目前的网站设计的看法。但是，怎样让设计的与众不同呢？了解客户公司所特有的方面显得尤为重要。看看有没有一种服务或产品如此令人着迷，而且只有他们才能做到？</p><p style="text-align: left; text-indent: 2em;">7、了解一下客户的竞争对手有哪些？</p><p style="text-align: left; text-indent: 2em;">当你在谈论公司的事情时，问问他们的竞争对手都有哪些。谁拥有与你的客户相同“空间”的网站？为什么他会成为客户的竞争对手？然后去浏览那些属于竞争对手的网站，看看是否能帮助你增进对这个项目的更多了解。</p><p style="text-align: left; text-indent: 2em;">8、客户可否提供一些参考网站？</p><p style="text-align: left; text-indent: 2em;">对于这个问题，不要用它来让你的客户感到为难（毕竟很大程度上，你才是专业的建议者），你不会得到一个最终的答案。你可以试着让他们思考一下他们浏览过的一些网站，列出他们喜欢的三到五个网站，并可以附带一两个关于为什么这个网站能够吸引他们的理由。</p><p style="text-align: left; text-indent: 2em;">额外的问题:如果你能从这些网页设计中“窃取”一个设计元素或特性，那将会是什么？</p><p style="text-align: left; text-indent: 2em;">9、网站需要哪些必备的功能？</p><p style="text-align: left; text-indent: 2em;">大多数客户都知道他们想要一个网站以做些什么。不同的客户，功能列表上的内容会有很大的不同。它可以是简单的“它必须可以在我的手机上工作”到更流行的设计元素，如需要具备渐变或在主页上可以实现视差滚动。</p><p style="text-align: left; text-indent: 2em;">10、询问客户是否可以提供一些图片资料？</p><p style="text-align: left; text-indent: 2em;">你是否需要将客户拥有的照片、视频或插图纳入到你的设计中呢？确保你可以实际看到这些素材并确保他们有足够的分辨率和价值可以纳入到设计中。</p><p style="text-align: left; text-indent: 2em;">有时客户会事先准备好一切。有时你必须要和客户谈谈，有可能客户需要为这个项目预定一些新的图像，或者使用版权图片或视频。</p><p style="text-align: left; text-indent: 2em;">11、客户是否有统一的用色或字体排版规范？</p><p style="text-align: left; text-indent: 2em;">这听起来很简单，对吧？但是通常你可以通过两种方式来问这个问题——你有想要使用的颜色和字体吗？同样的颜色和字体会在新网站中使用吗？</p><p style="text-align: center; text-indent: 0em;"><img src="static/picture/1533544274305072714.jpg" title="1533544274305072714.jpg" alt="3.jpg" /></p><p style="text-align: left; text-indent: 2em;">一个新网站经常出现在公司调整或名称变更的过程中。你需要确保在设计时使用新元素，如果现在的公司有新的需求的话。这个问题的另一部分就有点棘手了，如果排版字体使用的是不常见的网页字体，你可能会想要寻找其他的类型替换。</p><p style="text-align: left; text-indent: 2em;">12、客户有品牌手册或风格指南吗？</p><p style="text-align: left; text-indent: 2em;">品牌不仅仅是颜色和字体，如果客户有品牌指南（不管新旧），你需要尽可能获得一份拷贝。它可以提供关于品牌风格，主题等有价值的信息。有时，品牌指南甚至会包括公司的形象(如果它已经存在，它可以为你节省一步)。</p><p style="text-align: left; text-indent: 2em;">13、网站设计完成的时间有没有要求？</p><p style="text-align: left; text-indent: 2em;">如果客户期望网站设计完成的时间，与网站设计师的时间安排有冲突，这完全可能成为一个毁灭性的问题。客户的期望与你在允许的时间内的设计有什么关系？时间的安排是否灵活？紧张的时间限制可能是一场噩梦，最后期限的届临而你还没有完成主要的工作，这种情况下你将可能会受到惩罚。确保你清楚地知道什么是客户希望的最终期限，以便让项目尽可能在你的预期里顺利地进行。</p><p><br /></p>
            </div>
            <div class="news-oper">
                <a class="news-oper-prev" href="/cn/list/details_199.html">prev</a>
                <a class="news-oper-menu" href="/cn/list_96.html">menu</a>
                <a class="news-oper-next" href="/cn/list/details_199.html">next</a>
            </div>
        </div>
    </div>
</body>
