@using OTAMS.Models;
@{
    Layout = "~/Views/Shared/_Info.cshtml";
}
@model SysNoticeType
<form class="layui-form" lay-filter="layuiform">
    <div class="layui-form-item">
        <label class="layui-form-label col-sm-3"><i class="layui-icon layui-icon-star-fill" style="color:red"></i>名称</label>
        <div class="layui-input-inline">
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="text" name="Name" required lay-verify="required" autocomplete="off" class="layui-input" value="@Model.Name">
        </div>
    </div>
    <hr>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="form">立即提交</button>
        </div>
    </div>
</form>

@section js{
    <script>
        $(function () {
            $.ajaxSetup({ async: false });
            layui.use(['form'], function () {
                var form = layui.form;
                form.on('submit(form)', function (data) {
                    $.post('/Person/NoticeTypeUpdate', data.field, function (res) {
                        window.parent.init();
                        window.parent.adder.msg(1);
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    });
                    return false;
                });
            });
            adder.render();
        });
    </script>
}

